@use "../../../utils/variables.scss";

.header {
  @include variables.flex();
  background-color: variables.$primary-color;

  h2 {
    font-family: variables.$primary-font;
    color: white;
    padding: 25px 0 10px 0;
  }
}
