@use "../../../utils/variables.scss";

.mainContainer {
  margin-bottom: 3rem;
  h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .wrapper {
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .items {
      width: 48%;
    }
  }
}
