@font-face {
  font-family: "Liberator";
  src: url("../assets/fonts/Liberator.ttf") format("truetype")
    url("../assets/fonts/Liberator.otf") format("opentype");
}

h1,
h2 {
  font-family: "Liberator", sans-serif;
}
