// Variables

$primary-color: #0e3c52;

// Mixin

@mixin flex($direction: row, $jutify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jutify-content;
  align-items: $align-items;
}
