@use "../../../utils/variables.scss";

.container {
  height: 80vh;
  @include variables.flex(column, space-around, center);

  .title {
    font-family: sans-serif;
    color: variables.$secondary-color;
  }

  .button {
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    padding: 5px 0;
    border-radius: 50px;
    width: 80%;
    text-align: center;
    background-color: variables.$primary-color;
  }

  .responsive {
    /* by setting font-size, all the elements will correspond */
    font-size: 9.5px !important; /* default to 10px */
  }
}
